html, body {
    background-color: #70CF51;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/grass.png');
    background-repeat: repeat;
    color:white;
    font-size:22px;
}

@font-face{
    font-family: KenneyFutureNarrow;
    src: url('../fonts/Kenney\ Future\ Narrow.ttf')
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    overflow:hidden;
    background-repeat: no-repeat;
}


game, ui {
    width:100%; height:100%;
}

tank {
    width: 100px; height: 89px;
    background-image: url('../images/tank.png');
}
bullet{
    width:22px; height: 32px;
    background-image: url('../images/bullet.png');
}


playertank{
    width: 100px; height: 89px;
    background-image: url('../images/tank.png');
}


lives {
    right:40px; top:20px;
    width:228px; height:38px;
    user-select: none;
    cursor:default;
  
    text-shadow: 3px 3px 0px black;
    font-size: 32px;
    font-family: KenneyFutureNarrow;
}
level {
    left:40px; top:20px;
    width:228px; height:38px;
    user-select: none;
    cursor:default;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 3px 3px 0px black;
    font-size: 32px;
    font-family: KenneyFutureNarrow;
}

.Greenbutton {
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
    color: green;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 15px;
    font-family: KenneyFutureNarrow;
}

.Bluebutton {
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
    color: blue;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 15px;
    font-family: KenneyFutureNarrow;
}
.button:hover {
    background: linear-gradient(#678834 50%, #093905 50%);
}
.button:active {
    background: linear-gradient(#EB7723 50%, #A80000 50%);
}